AquaGuard AI.json
{
  "name": "AquaGuard AI",
  "nodes": [
    {
      "parameters": {
        "content": "## 1. Hourly Monitoring\nSchedule Trigger fires every hour and reads the latest water-quality readings from Google Sheets."
      },
      "id": "26e5513e-cebf-4a9e-87bf-75a49637ea7c",
      "name": "Sticky Note 26e5513e",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        32,
        400
      ]
    },
    {
      "parameters": {
        "content": "## 2. Pollution Classification\nIF flags a reading as POLLUTED when pH < 6, Turbidity > 50 NTU, or Dissolved Oxygen < 5 mg/L."
      },
      "id": "1193db18-18ff-4402-9a45-e719ffed9f15",
      "name": "Sticky Note 1193db18",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        288,
        32
      ]
    },
    {
      "parameters": {
        "content": "## 3. Incident Response\nMarine Environmental Scientist AI Agent writes the assessment, it is stored in the Incident Log, and authorities are emailed."
      },
      "id": "f657cba4-ae7a-461b-94df-cc6361b526e0",
      "name": "Sticky Note f657cba4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        864,
        -64
      ]
    },
    {
      "parameters": {
        "content": "## 4. Healthy Path\nHealthy readings are logged separately as successful monitoring events."
      },
      "id": "40e5e403-b3fa-4a47-85d6-b0af96a18fd8",
      "name": "Sticky Note 40e5e403",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1184,
        480
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "5e36f456-a9aa-4ade-9c52-ffccda46bdd4",
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        224
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "17SxR77_OeOExeNHIQ4cqAR9ns6eOftwcR7nY_JKFreA",
          "mode": "list",
          "cachedResultName": "AquaGuard AI Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17SxR77_OeOExeNHIQ4cqAR9ns6eOftwcR7nY_JKFreA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Readings",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17SxR77_OeOExeNHIQ4cqAR9ns6eOftwcR7nY_JKFreA/edit#gid=0"
        },
        "options": {}
      },
      "id": "63db94f2-96f3-4c10-9d44-56996652f871",
      "name": "Read Water Quality Data",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        224
      ],
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OA7Yb544bZhMvMZR",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "or",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "ph-low",
              "leftValue": "={{ $json.pH }}",
              "rightValue": 6,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            },
            {
              "id": "turbidity-high",
              "leftValue": "={{ $json.Turbidity }}",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "do-low",
              "leftValue": "={{ $json.DissolvedOxygen }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "65730dd1-abe6-4604-a882-21be31a1b5d2",
      "name": "Is Water Polluted?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        224
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this water-quality reading and produce a report.\n\nLocation: {{ $json.Location }}\nTimestamp: {{ $json.Timestamp }}\npH: {{ $json.pH }} (threshold: below 6)\nTurbidity: {{ $json.Turbidity }} NTU (threshold: above 50)\nDissolved Oxygen: {{ $json.DissolvedOxygen }} mg/L (threshold: below 5)",
        "options": {
          "systemMessage": "You are a Marine Environmental Scientist. Given a set of water-quality readings that have been flagged as polluted, respond with a concise, professional report containing exactly three clearly labeled sections:\n1. Pollution Assessment — a short summary of which parameters are out of safe range and the overall severity.\n2. Impact on Aquatic Life — the likely biological and ecological effects.\n3. Recommended Corrective Actions — practical, prioritized remediation steps.\nKeep the total response under 250 words and use plain, authoritative language."
        }
      },
      "id": "133ff6b9-a43b-4023-a272-059f038fb5e7",
      "name": "Generate Pollution Assessment",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        672,
        112
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.3
        }
      },
      "id": "134d5b05-e628-4330-a23a-4cb84ddd7c18",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        752,
        336
      ],
      "credentials": {
        "openAiApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "17SxR77_OeOExeNHIQ4cqAR9ns6eOftwcR7nY_JKFreA",
          "mode": "list",
          "cachedResultName": "AquaGuard AI Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17SxR77_OeOExeNHIQ4cqAR9ns6eOftwcR7nY_JKFreA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1587582291,
          "mode": "list",
          "cachedResultName": "Incident Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17SxR77_OeOExeNHIQ4cqAR9ns6eOftwcR7nY_JKFreA/edit#gid=1587582291"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Location": "={{ $('Read Water Quality Data').item.json.Location }}",
            "Timestamp": "={{ $('Read Water Quality Data').item.json.Timestamp }}",
            "pH": "={{ $('Read Water Quality Data').item.json.pH }}",
            "Turbidity": "={{ $('Read Water Quality Data').item.json.Turbidity }}",
            "DissolvedOxygen": "={{ $('Read Water Quality Data').item.json.DissolvedOxygen }}",
            "Assessment": "={{ $json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pH",
              "displayName": "pH",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Turbidity",
              "displayName": "Turbidity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DissolvedOxygen",
              "displayName": "DissolvedOxygen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Assessment",
              "displayName": "Assessment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "b592507b-0324-49ef-bf6c-51b4516fbd33",
      "name": "Log Incident",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1024,
        112
      ],
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OA7Yb544bZhMvMZR",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "homelandernumber2@gmail.com",
        "subject": "=🚨 Water Pollution Alert — {{ $('Read Water Quality Data').item.json.Location }}",
        "message": "=<h2>AquaGuard AI — Water Pollution Alert</h2><p><strong>Location:</strong> {{ $('Read Water Quality Data').item.json.Location }}<br><strong>Reading time:</strong> {{ $('Read Water Quality Data').item.json.Timestamp }}</p><h3>Measured Parameters</h3><ul><li><strong>pH:</strong> {{ $('Read Water Quality Data').item.json.pH }} (safe &ge; 6)</li><li><strong>Turbidity:</strong> {{ $('Read Water Quality Data').item.json.Turbidity }} NTU (safe &le; 50)</li><li><strong>Dissolved Oxygen:</strong> {{ $('Read Water Quality Data').item.json.DissolvedOxygen }} mg/L (safe &ge; 5)</li></ul><h3>Scientific Assessment</h3><p>{{ $('Generate Pollution Assessment').item.json.output }}</p><hr><p><em>Automated alert generated by AquaGuard AI.</em></p>",
        "options": {}
      },
      "id": "0db9c425-caf1-4341-a8aa-0ddfe8879673",
      "name": "Alert Environmental Authorities",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1248,
        112
      ],
      "webhookId": "9db77d5b-e620-43df-8596-c4a19f5b6f6c",
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "uCwmXmTI1ZVTUBlx",
          "name": "Gmail account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "id": "32552108-09e3-4e1b-950c-1bfc28783de2",
      "name": "End",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1696,
        176
      ]
    },
    {
      "parameters": {},
      "id": "a0ba131b-06bb-4e70-a936-912a57bab3eb",
      "name": "Handle Alert Failure",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1472,
        176
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "17SxR77_OeOExeNHIQ4cqAR9ns6eOftwcR7nY_JKFreA",
          "mode": "list",
          "cachedResultName": "AquaGuard AI Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17SxR77_OeOExeNHIQ4cqAR9ns6eOftwcR7nY_JKFreA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 636634183,
          "mode": "list",
          "cachedResultName": "Monitoring Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17SxR77_OeOExeNHIQ4cqAR9ns6eOftwcR7nY_JKFreA/edit#gid=636634183"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Location": "={{ $json.Location }}",
            "Timestamp": "={{ $json.Timestamp }}",
            "pH": "={{ $json.pH }}",
            "Turbidity": "={{ $json.Turbidity }}",
            "DissolvedOxygen": "={{ $json.DissolvedOxygen }}",
            "Status": "Healthy"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pH",
              "displayName": "pH",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Turbidity",
              "displayName": "Turbidity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DissolvedOxygen",
              "displayName": "DissolvedOxygen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "0ecff9d1-7532-49dc-b0c9-bfe6484a3814",
      "name": "Log Monitoring Event",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1472,
        400
      ],
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OA7Yb544bZhMvMZR",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Every Hour": {
      "main": [
        [
          {
            "node": "Read Water Quality Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Water Quality Data": {
      "main": [
        [
          {
            "node": "Is Water Polluted?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Water Polluted?": {
      "main": [
        [
          {
            "node": "Generate Pollution Assessment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Monitoring Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Pollution Assessment": {
      "main": [
        [
          {
            "node": "Log Incident",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Pollution Assessment",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Log Incident": {
      "main": [
        [
          {
            "node": "Alert Environmental Authorities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert Environmental Authorities": {
      "main": [
        [
          {
            "node": "End",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Alert Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Alert Failure": {
      "main": [
        [
          {
            "node": "End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Monitoring Event": {
      "main": [
        [
          {
            "node": "End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f5f47644-66ae-4d1e-b76f-6583721afca9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d90e63963d328e023be95709700a5ae0c5ed905e0ab76a676172dd530775cc3f"
  },
  "nodeGroups": [],
  "id": "SHkvGbLevo4IJeBD",
  "tags": []
}